# Bỏ qua dữ liệu ảnh nặng
data_raw/
test/
train/
val/
dataset_final/
venv/

# Bỏ qua file nén
*.zip
*.rar
*.tflite
convert_to_tflite.py

# Bỏ qua file rác của Python
__pycache__/
*.pyc
